
<div class="container">
  <table class="table text-white">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
    <% current_cart.line_items.includes([:product]).each do |line_item| %>
      <tr>
        <td>
          <% if line_item.product.image.blank? %>
            <%= image_tag image_url('no_image.png'), width:50, height:50 %>
          <% else %>
            <%= image_tag image_url(line_item.product.image), width:50, height:50 %>
          <% end %>
        </td>
        <td><%= line_item.product.name %></td>
        <td>
          <!-- reduce -->
          <%=link_to line_item_reduce_path(id: line_item) , method: :put, class: "btn btn-outline-danger btn-sm", style: "padding-left:11px; padding-right:11px;" do %>
            <span><b>-</b></span>
          <% end %>
          <!-- -->
          <%= line_item.quantity %>
          <!-- add -->
          <%=link_to line_item_add_path(id: line_item) , method: :put , class: "btn btn-outline-success btn-sm", style: "padding-left:9px; padding-right:9px;" do %>
            <span><b>+</b></span>
          <% end %>
          <!-- -->
        </td>
        <td><%= number_to_currency(line_item.price_multiply_quantity) %></td>
        <td>
          <!-- Remove -->
          <%=link_to line_item_path(id: line_item), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
            <span><b>delete</b></span>
          <% end %>
          <!-- -->
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td>Total price:</td>
      <td><b><%= number_to_currency(current_cart.cart_total_price) %></b></td>
      <td></td>
    </tr>
  </table>
</div>