
  <nav class="navbar nav-layout navbar-expand-lg bg-dark">
    <div class="container-fluid align-items-center">
      <div class="navbar-header">
        <h2 class="navbar-brand"><%= link_to 'Store', root_path %></h2>
      </div>
      <%= render 'layouts/flash_message' %>
      <%= render 'layouts/alert' %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div>
            <% if current_user %>
              <%= link_to 'Cart', cart_path, class: 'btn btn-outline-success me-2' %>
            <% end %>
          </div>
        </li>
        <li>
          <div>
            <% if user_signed_in? == false %>
              <%= link_to 'Log in', user_session_path, class: 'btn btn-outline-light btn-primary me-2' %>
            <% end %>
          </div>
        </li>
        <li>
          <div>
            <% if current_user %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light me-2' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>